<tr>
	<div class="item-fields">
		<%= index = "#{f.index}-#{Random.rand(100)}" %>
		<td><%= f.select :sku_code, SoukoZaiko.pluck(:sku_code, :id), prompt: 'Choose a category' %></td>
		<td><%= f.number_field :quantity, class: 'quantity', 'data-id': index, id: "quantity#{index}" %></td>
		<td><%= f.number_field :price, class: 'price', 'data-id': index, id: "price#{index}" %></td>
		<td><%= f.number_field :total_amount, class: 'amount', id: "amount#{index}" %></td>
		<td><%= f.hidden_field :_destroy %></td>
	</div>
</tr>
