<div class="Row item-fields">
  <% index = "#{f.index}-#{Random.rand(100)}" %>
  <div class="Cell"><%= f.select :sku_code, SoukoZaiko.pluck(:sku_code, :id), prompt: 'Choose a category' %></div>
  <div  class="Cell"><%= f.number_field :quantity, class: 'quantity'%></div>
  <div  class="Cell"><%= f.number_field :price, class: 'price' %></div>
  <div  class="Cell"><%= f.number_field :total_amount, class: 'amount' %></div>
  <div  class="Cell"><%= f.hidden_field :_destroy %></div>
</div>
