<div class="container d-flex justify-content-center my-5">
  <div class="card p-4 shadow-lg" style="width: 50rem;">
    <div class="card-body">
      <%= form_with model: @order, local: true, class: "p-4 border" do |f| %>
        <div class="mb-4">
          <h4 class="font-weight-bold mb-3">Order Form</h4>
          <div class="row mb-3">
            <div class="col-md-2">
              <%= f.label :delivery_zipcode, "Zipcode", class: "font-weight-bold" %>
            </div>
            <div class="col-md-4">
              <%= f.number_field :delivery_zipcode, id: 'zipcode', pattern: '\d{7}', placeholder: 'Enter 7 digits', maxlength: 7, title: 'Please enter exactly 7 digits', class: "form-control" %>
            </div>
          </div>

          <div class="row mb-3">
            <div class="col-md-2">
              <%= f.label :delivery_state, "State", class: "font-weight-bold" %>
            </div>
            <div class="col-md-4">
              <div id="state_display"><%= f.object.delivery_state %></div>
              <%= f.hidden_field :delivery_state, class: "form-control", id: 'state'%>
            </div>
          </div>

          <div class="row mb-3">
            <div class="col-md-2">
              <%= f.label :delivery_city, "City", class: "font-weight-bold" %>
            </div>
            <div class="col-md-4">
              <div id="city_display"><%= f.object.delivery_state %></div>
              <%= f.hidden_field :delivery_city, class: "form-control", id: 'city' %>
            </div>
          </div>

          <div class="row mb-3">
            <div class="col-md-2">
              <%= f.label :delivery_area, "Area", class: "font-weight-bold" %>
            </div>
            <div class="col-md-4">
              <div id="area_display"><%= f.object.delivery_state %></div>
              <%= f.hidden_field :delivery_area, class: "form-control", id: 'area'%>
            </div>
          </div>

          <div class="row mb-3">
            <div class="col-md-2">
              <%= f.label :delivery_address, "Address", class: "font-weight-bold" %>
            </div>
            <div class="col-md-4">
              <%= f.text_field :delivery_address, class: "form-control" %>
            </div>
          </div>
          <%= f.hidden_field :tax, id: 'order_tax_field' %>
        </div>
        <div class="mb-4">
          <h4 class="font-weight-bold">Item Information</h4>

          <div class="row font-weight-bold">
            <div class="col-md-3">Item Name</div>
            <div class="col-md-3">Quantity</div>
            <div class="col-md-3">Item Price</div>
            <div class="col-md-3">Total Price</div>
          </div>
          <div class="items">
            <%= f.fields_for :order_items do |item_form| %>
              <%= render 'order_item_fields', f: item_form %>
            <% end %>
          <%= link_to_add_association "Add More Item", f, :order_items %>
        </div>

        <div class="row justify-content-end mb-4">
          <div class="col-md-4">
            <div class="d-flex justify-content-between">
              <span class="font-weight-bold">Total:</span>
              <span id="order_total">0</span>
            </div>
            <div class="d-flex justify-content-between">
              <span class="font-weight-bold">Tax 10%:</span>
              <span id="order_tax">0</span>
            </div>
            <div class="d-flex justify-content-between">
              <span class="font-weight-bold">Total Amount:</span>
              <span id="order_total_amount">0</span>
            </div>
          </div>
        </div>

        <div>
          <%= f.submit "Submit Order", class: "btn btn-success" %>
        </div>
      <% end %>
    </div>
  </div>
</div>
