<%= form_with model: @order, local: true do |f| %>
  <div>
    <h3>Order Form</h3>
    <div>
      <%= f.label :delivery_zipcode %>
      <%= f.text_field :delivery_zipcode %>
    </div>
    <div>
      <%= f.label :delivery_state %>
      <%= f.text_field :delivery_state %>
    </div>
    <div>
      <%= f.label :delivery_city %>
      <%= f.text_field :delivery_city %>
    </div>
    <div>
      <%= f.label :delivery_area %>
      <%= f.text_field :delivery_area %>
    </div>
    <div>
      <%= f.label :delivery_address %>
      <%= f.text_field :delivery_address %>
      <%= f.hidden_field :tax, id: 'order_tax_field' %>
    </div>

    <h3>Item Information</h3>

    <div class="Table">
      <div class="Row Heading">
        <div class="Cell"><p>Item Name</p></div>
        <div  class="Cell">Quntity</div>
        <div  class="Cell">Price</div>
        <div  class="Cell">Total Amount</div>
      </div>
      <div class='items'>			
				<%= f.fields_for :order_items do |item_form| %>
					<%= render 'order_item_fields', f: item_form %>
				<% end %>
				<%= link_to_add_association "Add More Item", f, :order_items %>
    	</div>
    </div>
    <table>
      <tr>
        <td>Total</td>
        <td id='order_total'>0</td>
      </tr>
      <tr>
        <td>Tax 10%</td>
        <td id='order_tax'>0</td>
      </tr>
      <tr>
        <td>Total Amount</td>
        <td id='order_total_amount'>0</td>
      </tr>
    </table>
    <div>
      <%= f.submit "Submit Order" %>
    </div>
  </div>
<% end %>
